.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  padding: 0.3rem;
  width: 100%;
}
.form-control input,
.form-control textarea {
  border: 1px solid var(--primary-color);
  border-radius: 1px;
}
.product-form button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: #fff;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
  align-self: center;
  width: 200px;
}
.product-form button:hover,
.product-form button:active {
  background: var(--primary-color);
  color: #fff;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border: 2px red dashed;
}