<main>
    {{!-- Logics has to come from js --}}
    {{#if hasProducts }}
    <div class="grid">
        {{#each prods}}
        <article class="card product-item">
            <header class="card-header">
                <h1 class="product-title">{{this.title}}</h1>
            </header>
            <div class="card-img">
                <div class="card-img-img"></div>
            </div>
            <div class="card-content">
                <h2 class="product-price">$5.99</h2>
                <p class="product-des">
                    A nice pen that will last you for 30 years
                </p>
            </div>
            <div class="card-actions">
                <button class="btn">Add to Cart</button>
            </div>
        </article>
        {{/each}}
    </div>
    {{else}}
    <h1>No Products Found</h1>
    {{/if}}
</main>