extends layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/product.css")

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card-header
                            h1.product-title #{product.title}
                        .card-img
                            .card-img-img
                        .card-content
                            h2.product-price $5.99
                            p.product-des A nice pen that will last you for 30 years
                        .card-actions
                            button.btn Add to Cart
        else
            h1 No Products