:root {
  --primary-color: #ff7f50;
  --dark-color: #333;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
main {
  padding: 1.5rem;
}

.btn {
  border: 1px var(--primary-color) solid;
  padding: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  color: var(--primary-color);
  margin: 0.5rem 0;
  border-radius: 5px;
}
.btn:active,
.btn:hover {
  color: #fff;
  background: var(--primary-color);
}

.main-header {
  background: var(--primary-color);
  width: 100%;
}
.main-header-nav {
  padding: 1.5rem;
  display: flex;
  align-items: center;
}
.main-header-item-list {
  list-style: none;
  display: flex;
}
.main-header-item a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.main-header-item a:hover,
.main-header-item a:active,
.main-header-item a.active {
  color: #faf27f;
}

.grid {
  /* display: gird;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 30vw;
  overflow: hidden;
  color: var(--dark-color);
  margin-top: 1rem;
}
.card-header {
  text-align: center;
  padding: 1rem 0;
}
.card-img-img {
  background: url("https://images.pexels.com/photos/1025585/pexels-photo-1025585.jpeg?cs=srgb&dl=pexels-1025585.jpg&fm=jpg")
    no-repeat center center/cover;
  height: 300px;
}
.card-content {
  text-align: center;
}
.card-content * {
  margin: 1rem 0;
}
.card-content p {
  font-size: 0.9rem;
}
.card-actions {
  align-self: center;
}
